<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
    <link href="/static/css/animation/component.css" rel="stylesheet">
    <title>新建项目</title>
    <style>
        input.form-control:focus {
            box-shadow: 0 0 0;
        }

        input.form-control {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding: 0;
            border-radius: 0;
        }

        .form-control {
            border-radius: 0;
        }

        li {
            line-height: 3rem;
            vertical-align: middle;
        }

        .table td,
        .table th {
            border-top: 0px;
        }

        .card {
            margin: 1.2rem 0rem;
            border-radius: 0px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }
    </style>
</head>

<body style="background-color: #F7F8FA;">
{% csrf_token %}
<div id="render_members">
    <div class="container" style="height: 100%;">
        <div class="row no-gutters">
            <div class="col-10 offset-1">
                <div class="card" style="border-top: 0.25rem solid #448AFF;">
                    <div class="clearfix" style="width: 100%">
                        <div style="float: right; height: 6rem; width: 22rem">
                            <div class="text-uppercase lead font-weight-bold"
                                 style="font-size: 4rem; color: rgba(41, 98, 255, 0.05); z-index: -1">
                                new&nbsp;task
                            </div>
                            <div
                                    style="font-size: 2rem; color: #999999; position: relative; top: -65%; left: 8%; z-index: 1;">
                                任务信息
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <table class="table col-10 offset-1" style="margin-bottom: 3rem">
                            <tbody>
                            <tr>
                                <th>任务名称</th>
                                <td><input class="form-control" id="input_task" name="task_name" placeholder=""
                                           style="border-top:none;border-left: 0; border-right: 0; padding: 0; width: 20%" v-model="task_name">
                                </td>
                            </tr>
                            <tr>
                                <th>截止日期</th>
                                <td>
                                    <input type="date" class="form-control" name="deadline" formmethod="post" v-model="deadline">
                                </td>
                            </tr>
                            <tr>
                                <th>任务状态</th>
                                <td>
                                    <select name="task_status" v-model="task_status">
                                        <option value='1'>进行中</option>
                                        <option value='0'>已挂起</option>
                                        <option value='-1'>已结束</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>任务详情</th>
                                <td>
                                    <div>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                                          placeholder="请输入项目详情......" style="color: #666666;padding: 0;"
                                                          name="task_description" v-model="task_description"></textarea>
                                        <small id="emailHelp" class="form-text text-muted"
                                               style="margin-top: 10px;height: 40px;text-align: center;float: left;letter-spacing: 5px">
                                            需要更详细的介绍?点击<span onclick="javascript:;" class="md-trigger"
                                                             data-modal="modal-8" style="cursor: pointer;">
                                                        <img src="/static/pic/href_active.png">&nbsp;添加附件
                                                    </span>
                                        </small>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card" style="border-top: 0.25rem solid #448AFF;">
                    <div class="clearfix" style="width: 100%">
                        <div style="float: right; height: 6rem; width: 22rem">
                            <div class="text-uppercase lead font-weight-bold"
                                 style="font-size: 4rem; color: rgba(41, 98, 255, 0.05); z-index: -1">
                                members
                            </div>
                            <div
                                    style="font-size: 2rem; color: #999999; position: relative; top: -65%; left: 8%; z-index: 1;">
                                人员安排
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters" style="margin: 0px 0px .75rem 0px">
                        <div class="col-10 offset-1"
                             style="font-weight: bold; margin-top: .75rem; margin-bottom: .75rem">
                            添加成员
                        </div>
                        <div class="col-10" style="left: 10%">
                            <button type="button" class="btn btn btn-outline-primary md-trigger"
                                    style="width: 140px; height: 50px;" data-modal="modal-5" @click="showall">
                                点击选择
                            </button>
                        </div>
                    </div>

                    <div class="row no-gutters" style="margin: 0rem 0px .75rem 0px">
                        <div class="col-10 offset-1">
                            <div style="font-weight: bold; margin: .75rem 0px .75rem 0px" v-show="act_all">
                                已选择的成员(点击选择组长)
                            </div>
                        </div>

                        <div class="col-10" style="left: 10%">
                            <div>
                                <div style="font-size: 20px; margin-bottom: .75rem" v-show="act_p">
                                    Python:
                                </div>
                                <div class="row justify-content-start col-12" id="all_members_p">
                                    <input class="btn btn btn-outline-primary" type="button"
                                           style="margin-right: 1.5rem; width: 5rem"
                                           v-for="(item,i) in selected_list_py" :key="item.user_id" :value="item.name"
                                           @click="set_leader($event,item)">
                                </div>
                            </div>
                            <div>
                                <div style="font-size: 20px; margin-bottom: .75rem" v-show="act_j">
                                    Java:
                                </div>
                                <div class="row justify-content-start col-12">
                                    <input class="btn btn btn-outline-primary" type="button"
                                           style="margin-right: 1.5rem; width: 5rem"
                                           v-for="(item,i) in selected_list_ja" :key="item.user_id" :value="item.name"
                                           @click="set_leader($event,item)">
                                </div>
                            </div>
                            <div>
                                <div style="font-size: 20px; margin-bottom: .75rem" v-show="act_n">
                                    Node.js:
                                </div>
                                <div class="row justify-content-start col-12">
                                    <input class="btn btn btn-outline-primary" type="button"
                                           style="margin-right: 1.5rem; width: 5rem"
                                           v-for="(item,i) in selected_list_no" :key="item.user_id" :value="item.name"
                                           @click="set_leader($event,item)">
                                </div>
                            </div>
                            <div>
                                <div style="font-size: 20px; margin-bottom: .75rem" v-show="act_f">
                                    前端:
                                </div>
                                <div class="row justify-content-start col-12">
                                    <input class="btn btn btn-outline-primary" type="button"
                                           style="margin-right: 1.5rem; width: 5rem"
                                           v-for="(item,i) in selected_list_fr" :key="item.user_id" :value="item.name"
                                           @click="set_leader($event,item)">
                                </div>
                            </div>
                            <div>
                                <div style="font-size: 20px; margin-bottom: .75rem" v-show="act_d">
                                    设计
                                </div>
                                <div class="row justify-content-start col-12">
                                    <input class="btn btn btn-outline-primary" type="button"
                                           style="margin-right: 1.5rem; width: 5rem"
                                           v-for="(item,i) in selected_list_de" :key="item.user_id" :value="item.name"
                                           @click="set_leader($event,item)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center" style="margin-bottom: 20px">
                    <input type="button" class="btn btn-primary" value="确认提交"
                           style="width: 200px;height: 40px;text-align: center;color:#ffffff " @click="submit">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="md-modal md-effect-5" id="modal-5">
            <div class="md-content">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-4" style="margin-top: 10px; font-size: 24px">
                            添加成员
                        </div>
                        <div class="col-2" style="margin-top: 10px;">
                            <button class="md-close btn-sm btn-primary"
                                    style="background-color: transparent; border: none; height: 100%">
                                <img src="/static/pic/close.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" style="padding-right: 0;">
                            <input type="search" id="search" class="form-control">
                        </div>
                        <div style="float: left;margin-top: 2px"><a href="#"><img src="/static/pic/serch.png"></a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                 aria-orientation="vertical">
                                <a class="nav-link show active" id="v-pills-home-tab" data-toggle="pill"
                                   href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                   aria-selected="true">Python</a>
                                <a class="nav-link show" id="v-pills-profile-tab" data-toggle="pill"
                                   href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                   aria-selected="false">Java</a>
                                <a class="nav-link show" id="v-pills-messages-tab" data-toggle="pill"
                                   href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                   aria-selected="false">Js</a>
                                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                   href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                   aria-selected="false">前端</a>
                                <a class="nav-link" id="v-pills-design-tab" data-toggle="pill"
                                   href="#v-pills-design" role="tab" aria-controls="v-pills-tabContent"
                                   aria-selected="false">设计</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel"
                                     aria-labelledby="v-pills-home-tab">
                                    <div class="row">
                                        <div class="col-12" style="margin-bottom: 5px; height: 100px">
                                            <input type="button" class="btn btn-outline-primary x"
                                                   style="width: 95px;height: 37px;text-align: center;"
                                                   v-for="item in python_list" :key="item.user_id" :value="item.name"
                                                   @click="del(item.user_id)">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                     aria-labelledby="v-pills-profile-tab">
                                    <div class="row">
                                        <div class="col-12" style="margin-bottom: 5px">
                                            <input type="button" class="btn btn-outline-warning x"
                                                   style="width: 95px;height: 37px;text-align: center;"
                                                   v-for="item_ja in java_list" :key="item_ja.id" :value="item_ja.name"
                                                   @click="del_ja(item_ja.user_id)">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                     aria-labelledby="v-pills-messages-tab">
                                    <div class="row">
                                        <input type="button" class="btn btn-outline-danger x"
                                                   style="width: 95px;height: 37px;text-align: center;"
                                                   v-for="item_no in node_list" :key="item_no.id" :value="item_no.name"
                                                   @click="del_no(item_no.user_id)">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                     aria-labelledby="v-pills-settings-tab">
                                    <div class="row">
                                        <input type="button" class="btn btn-outline-success x"
                                                   style="width: 95px;height: 37px;text-align: center;"
                                                   v-for="item_fr in front_list" :key="item_fr.id" :value="item_fr.name"
                                                   @click="del_fr(item_fr.user_id)">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-design" role="tabpanel"
                                     aria-labelledby="v-pills-tabContent-tab">
                                    <div class="row">
                                        <input type="button" class="btn btn-outline-secondary x"
                                                   style="width: 95px;height: 37px;text-align: center;"
                                                   v-for="item_de in design_list" :key="item_de.id" :value="item_de.name"
                                                   @click="del_de(item_de.user_id)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style=" text-align:center; width: 100%; color:deepskyblue;">
                    <div class="row">
                        <div class="col-12">
                            <input type="button" class="btn btn btn-outline-primary"
                                   style="width: 95px;height: 37px;text-align: center"
                                   v-for="item_s in selected_list_py"
                                   :key="item_s.user_id" :value="item_s.name" @click="add(item_s.user_id)">
                            <input type="button" class="btn btn btn-outline-warning"
                                   style="width: 95px;height: 37px;text-align: center"
                                   v-for="item_ja in selected_list_ja"
                                   :key="item_ja.user_id" :value="item_ja.name" @click="add_ja(item_ja.user_id)">
                            <input type="button" class="btn btn btn-outline-danger"
                                   style="width: 95px;height: 37px;text-align: center"
                                   v-for="item_no in selected_list_no"
                                   :key="item_no.user_id" :value="item_no.name" @click="add_no(item_no.user_id)">
                            <input type="button" class="btn btn btn-outline-success"
                                   style="width: 95px;height: 37px;text-align: center"
                                   v-for="item_fr in selected_list_fr"
                                   :key="item_fr.user_id" :value="item_fr.name" @click="add_fr(item_fr.user_id)">
                            <input type="button" class="btn btn btn-outline-secondary"
                                   style="width: 95px;height: 37px;text-align: center"
                                   v-for="item_de in selected_list_de"
                                   :key="item_de.user_id" :value="item_de.name" @click="add_de(item_de.user_id)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="md-modal md-effect-8" id="modal-8">
            <div class="md-content">
                <div style="height: 400px">
                    <div class="container-fluid">
                        <div class="row justify-content-between">
                            <div class="col-4" style="margin-top: 10px; font-size: 24px">
                                添加附件
                            </div>
                            <div class="col-2" style="margin-top: 10px;">
                                <button class="md-close btn-sm btn-primary"
                                        style="background-color: transparent; border: none; height: 100%">
                                    <img src="/static/pic/close.png">
                                </button>
                            </div>
                        </div>
                        <div class="row"
                             style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);text-align: center">
                            <div class="col-10 offset-1">
                                <button type="button" data-modal="modal-17"
                                        class="btn btn btn-outline-primary md-trigger"
                                        style="width: 200px;height: 50px;letter-spacing: 4px; display: block">
                                    点击选择
                                </button>
                                <small style="color: red;float:left;">文件不要超过10M！</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-overlay"></div>
        <!-- the overlay element -->
    </div>
</div>
<script src="/static/js/bootstrap/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="{% static 'js/vue/vue.js' %}"></script>
<script src="{% static 'js/vue/vue-resource.min.js' %}"></script>
<script>
    Vue.http.headers.common['X-CSRFToken'] = $("input[name='csrfmiddlewaretoken']").val();
    var vm2 = new Vue(
        {
            delimiters: ['[[', ']]'],
            el: '#render_members',
            data: {
                //原表单内提交的数据
                task_name:'',
                deadline:'',
                task_status:0,
                task_description:'',

                //接口数据
                members:[],
                leaders:[],

                //python组 py
                items_P: [],
                python_list: [],
                selected_list_py: [],
                flag: false,
                leader_list: [],

                //java组  ja
                items_J: [],
                java_list: [],
                selected_list_ja: [],
                flag_ja: false,

                //node组 no
                items_N: [],
                node_list: [],
                selected_list_no: [],
                flag_no: false,

                //前端组 fr front
                items_F:[],
                front_list:[],
                selected_list_fr: [],
                flag_fr:false,

                //设计组 de design
                items_D:[],
                design_list:[],
                selected_list_de: [],
                flag_de:false,

                //文字
                act_p:false,
                act_j:false,
                act_n:false,
                act_f:false,
                act_d:false,
                act_all:false,

            },
            methods: {
                showall() {
                    this.$http.get('/task/get_members/?key=P').then(result => {
                        this.items_P = result.body;
                        if (this.python_list.length == 0 && this.selected_list_py.length == 0) {
                            for (let i = 0; i < this.items_P.length; i++) {
                                let obj = this.items_P[i];
                                //console.log(obj);
                                this.python_list.push(obj);
                            }
                        }
                    });
                    this.$http.get('/task/get_members/?key=J').then(result => {
                        this.items_J = result.body;
                        if (this.java_list.length == 0 && this.selected_list_ja.length == 0) {
                            for (let i = 0; i < this.items_J.length; i++) {
                                let obj = this.items_J[i];
                                //console.log(obj);
                                this.java_list.push(obj);
                            }
                        }
                    });
                    this.$http.get('/task/get_members/?key=N').then(result => {
                        this.items_N = result.body;
                        if (this.node_list.length == 0 && this.selected_list_no.length == 0) {
                            for (let i = 0; i < this.items_N.length; i++) {
                                let obj = this.items_N[i];
                                //console.log(obj);
                                this.node_list.push(obj);
                            }
                        }
                    });
                    this.$http.get('/task/get_members/?key=F').then(result => {
                        this.items_F = result.body;
                        if (this.front_list.length == 0 && this.selected_list_fr.length == 0) {
                            for (let i = 0; i < this.items_F.length; i++) {
                                let obj = this.items_F[i];
                                //console.log(obj);
                                this.front_list.push(obj);
                            }
                        }
                    });
                    this.$http.get('/task/get_members/?key=D').then(result => {
                        this.items_D = result.body;
                        if (this.design_list.length == 0 && this.selected_list_de.length == 0) {
                            for (let i = 0; i < this.items_D.length; i++) {
                                let obj = this.items_D[i];
                                //console.log(obj);
                                this.design_list.push(obj);
                            }
                        }
                    });

                },
                add(id) {
                    let index = this.selected_list_py.findIndex(obj => {
                        if (obj.user_id == id) {
                            return true
                        }
                    });

                    this.python_list.push(this.selected_list_py[index]);
                    this.selected_list_py.splice(index, 1);
                    if(this.selected_list_py.length==0)
                        this.act_p=false;
                    if(this.selected_list_py.length==0 && this.selected_list_ja.length==0 && this.selected_list_de.length==0 &&this.selected_list_no.length==0 &this.selected_list_fr.length==0)
                    {this.act_all=false;}
                },
                del(id) {
                    let index = this.python_list.findIndex(obj => {
                        if (obj.user_id == id) {
                            return true
                        }

                    });
                    if(this.selected_list_py.length==0)
                    {this.act_p=true;
                        this.act_all=true;}

                    this.selected_list_py.push(this.python_list[index]);
                    this.python_list.splice(index, 1);


                },
                set_leader(e, item) {
                    if (e.target.classList.contains("active")) {
                        e.target.classList.remove("active");
                        if (this.leader_list.indexOf(item) > -1)//判断组长是否被选中
                        {
                            this.leader_list.splice(this.leader_list.indexOf(item));
                            console.log('成功删除组长')
                        }

                    }
                    else {
                        e.target.classList.add("active");
                        if (this.leader_list.indexOf(item) > -1)//判断组长是否被选中
                        {
                            console.log('组长已被选择')
                        }
                        else {
                            this.leader_list.push(item);
                            console.log('成功添加组长')
                        }
                    }


                },
                add_ja(id_ja) {
                    let index = this.selected_list_ja.findIndex(obj_ja => {
                        if (obj_ja.user_id == id_ja) {
                            return true
                        }
                    });
                    this.java_list.push(this.selected_list_ja[index]);
                    this.selected_list_ja.splice(index, 1);
                    if(this.selected_list_ja.length==0)
                        this.act_j=false;
                    if(this.selected_list_py.length==0 && this.selected_list_ja.length==0 && this.selected_list_de.length==0 &&this.selected_list_no.length==0 &this.selected_list_fr.length==0)
                    {this.act_all=false;}
                },
                del_ja(id_ja) {
                    let index = this.java_list.findIndex(obj_ja => {
                        if (obj_ja.user_id == id_ja) {
                            return true
                        }

                    });
                    if(this.selected_list_ja.length==0)
                    {this.act_j=true;
                        this.act_all=true;}
                    this.selected_list_ja.push(this.java_list[index]);
                    this.java_list.splice(index, 1);

                },
                add_no(id_no) {
                    let index = this.selected_list_no.findIndex(obj_no => {
                        if (obj_no.user_id == id_no) {
                            return true
                        }
                    });
                    this.node_list.push(this.selected_list_no[index]);
                    this.selected_list_no.splice(index, 1);
                    if(this.selected_list_no.length==0)
                        this.act_n=false;
                    if(this.selected_list_py.length==0 && this.selected_list_ja.length==0 && this.selected_list_de.length==0 &&this.selected_list_no.length==0 &this.selected_list_fr.length==0)
                    {this.act_all=false;}
                },
                del_no(id_no) {
                    let index = this.node_list.findIndex(obj_no => {
                        if (obj_no.user_id == id_no) {
                            return true
                        }

                    });
                    if(this.selected_list_no.length==0)
                    {this.act_n=true;
                    this.act_all=true;}
                    this.act_all=true;
                    this.selected_list_no.push(this.node_list[index]);
                    this.node_list.splice(index, 1);


                },
                add_fr(id_fr) {
                    let index = this.selected_list_fr.findIndex(obj_fr => {
                        if (obj_fr.user_id == id_fr) {
                            return true
                        }
                    });
                    this.front_list.push(this.selected_list_fr[index]);
                    this.selected_list_fr.splice(index, 1);
                    if(this.selected_list_fr.length==0)
                        this.act_f=false;
                    if(this.selected_list_py.length==0 && this.selected_list_ja.length==0 && this.selected_list_de.length==0 &&this.selected_list_no.length==0 &this.selected_list_fr.length==0)
                    {this.act_all=false;}
                },
                del_fr(id_fr) {
                    let index = this.front_list.findIndex(obj_fr => {
                        if (obj_fr.user_id == id_fr) {
                            return true
                        }

                    });
                    if(this.selected_list_fr.length==0)
                    {this.act_f=true;
                    this.act_all=true;}
                    this.selected_list_fr.push(this.front_list[index]);
                    this.front_list.splice(index, 1);


                },
                add_de(id_de) {
                    let index = this.selected_list_de.findIndex(obj_de => {
                        if (obj_de.user_id == id_de) {
                            return true
                        }
                    });
                    this.design_list.push(this.selected_list_de[index]);
                    this.selected_list_de.splice(index, 1)
                     if(this.selected_list_de.length==0)
                        this.act_d=false;
                     if(this.selected_list_py.length==0 && this.selected_list_ja.length==0 && this.selected_list_de.length==0 &&this.selected_list_no.length==0 &this.selected_list_fr.length==0)
                    {this.act_all=false;}
                },
                del_de(id_de) {
                    let index = this.design_list.findIndex(obj_de => {
                        if (obj_de.user_id == id_de) {
                            return true
                        }

                    });
                    if(this.selected_list_de.length==0)
                    {this.act_d=true;
                    this.act_all=true;}

                    this.selected_list_de.push(this.design_list[index]);
                    this.design_list.splice(index, 1);

                },
                submit() {
                    //先将选好的人的列表循环加入接口所需要的列表
                    for(let i=0;i<this.selected_list_py.length;i++){
                            this.members.push(this.selected_list_py[i].user_id)
                    }
                    for(let i=0;i<this.selected_list_ja.length;i++){
                            this.members.push(this.selected_list_ja[i].user_id)
                    }
                    for(let i=0;i<this.selected_list_no.length;i++){
                            this.members.push(this.selected_list_no[i].user_id)
                    }
                    for(let i=0;i<this.selected_list_fr.length;i++){
                            this.members.push(this.selected_list_fr[i].user_id)
                    }
                    for(let i=0;i<this.selected_list_de.length;i++){
                            this.members.push(this.selected_list_de[i].user_id)
                    }

                    for(let i=0;i<this.leader_list.length;i++){
                            this.leaders.push(this.leader_list[i].user_id)
                    }


                    this.members=JSON.stringify(this.members);
                    this.leaders=JSON.stringify(this.leaders);

                    this.$http.post('/task/create_task/',
                        {
                            'members':this.members,
                            'leaders': this.leaders,
                            'task_name':this.task_name,
                            'task_status': Number(this.task_status),
                            'deadline':this.deadline,
                            'task_description': this.task_description,

                        }, {emulateJSON: true}).then(res => {
                        console.log(res.body)
                    })
                }
            }
        }
    )
</script>
<script src="/static/js/animation/modalEffects.js"></script>
<script src="/static/js/animation/classie.js"></script>
</body>

</html>