<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<div class="center">
		<div class="login">
			<div id="title">账号登录</div>
			<form id="form" autocomplete="off" method="post" action="/account/login/">
				{%csrf_token%}
				{{  form  }}
				<div id="tip">{{  tip  }}</div>
				<button>登录</button>
			</form>
			<li>没有账号? 去<a class="zhuce" href="../register/">注册</a></li>
		</div>
	</div>
</body>

</html>