<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="center">
        <div class="register">
            <div id="title">账号注册</div>
            <form id="form" autocomplete="off", method="POST", action="/account/register/">
                {%csrf_token%}
                {{  form  }}
                <div id="tip">{{  tip  }}</div>
                <button>注册</button>
            </form>
            <li>已有账号? 去<a class="zhuce" href="../login/">登录</a></li>
        </div>
    </div>
</body>

</html>