<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>重置密码</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        .form-control:focus {
            box-shadow: 0px 0px 0px;
        }

        .form-control {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            padding: 0px;
        }
    </style>
</head>

<body
    style="background: url(/static/svg/leftUp.svg) left top no-repeat fixed, url(/static/svg/rightDown.svg) 150% -200% no-repeat fixed, url(/static/svg/rightUp.svg) right top no-repeat fixed; background-size: 800px">
<script src="/static/js/bootstrap/jquery.min.js"></script>
        <script src="/static/js/bootstrap/popper.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/static/js/vue/vue.js"></script>
        <script src="/static/js/vue/vue-resource.min.js"></script>
    <div class="container" style="height: 100%">
        <div class="row no-gutters" style="height: 100%">
            <div style="height: auto; display: inline-block; z-index: -1; background: #448AFF;" class="col-4 offset-1">
                <div style="height: 100%; background: url(/static/svg/middle.svg); opacity:0.4"></div>
            </div>

            <div class="align-self-center col-5" style="margin-left: -12.5%;">
                <div class="text-right clearfix">
                    <div class="text-uppercase font-weight-light" style="color: #536DFE; font-size: 48px">Reset&nbsp;password
                    </div>
                    <div style="font-size: 22px; color: #333333">重置密码
                    </div>
                    <hr noshade=true style="width: 17%; height: 1px; background-color: #536DFE; float: right;">
                </div>
                <div class="row justify-content-center no-gutters shadow p-0 mb-5 bg-white rounded">
                    <div class="col-10" style="margin-top: 10%; margin-bottom: 10%">
                        <form action="" method="POST" class="clearfix">
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入您的手机号</label>
                            <input type="text" class="form-control" placeholder="请输入您的手机号" aria-label="Username" name="username" v-model="phone_number">
                            <div>
                                <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem" >请输入图形验证码</label>
                                <input type="text" @click="showTip" class="form-control" placeholder="请输入图形验证码" aria-label="Username" name="picode" v-model="picode">
                                <img src="/file/picode" style="float: right; transform: translateY(-100%); height: 37.84px; width: 90px; border-radius: 0.25rem" @click="reload_picode">
                            </div>
                            <div>
                                <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入短信验证码</label>
                                <input type="text" class="form-control" @click="showTip" placeholder="请输入短信验证码" aria-label="Username" name="msgcode" v-model="msgcode">
                                <button class="btn btn-primary" type="button" style="float: right; transform: translateY(-100%)" @click="send_msgcode">
                                    <span>点击获取</span>
                                </button>
                            </div>
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem" >请输入您的新密码</label>
                            <input type="password" v-model="pwd1" @mouseleave="showTip" @click="showTip" class="form-control" placeholder="请输入您的密码" aria-label="password" v-model="pwd1">
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请再次输入您的新密码</label>
                            <input @mouseleave="showTip" @click="showTip" @keyon.enter="submit" type="password" v-model="pwd2" class="form-control" placeholder="请再次输入您的密码" aria-label="Username"  v-model="pwd2">
                        </form>
                        <div class="tip" style="margin-top: 0.5rem; font-size: 14px; color: #E86263" :text="" >[[ bottomTip ]]</div>
                        <input type="button" class="btn btn-primary col-6 offset-6" value="提交"
                            style="float: right; font-size: 18px; margin-top: 10%"  @mouseon="finalCheck" @click="submit" >

                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
                            var vm = new Vue({
                                delimiters: ['[[', ']]'],
                                el:'div',
                                data:{
                                    {#phn_reg : /^1[34578]\d{9}$|^09\d{8}$/,#}
                                    {#pwd_reg: /^\S{6,16}$/,#}
                                    {#picode_reg: /^\S{4}$/,#}
                                    {#msgcode_reg:/^\w{4}$/,#}
                                    phone_number:'',
                                    picode:'',
                                    msgcode:'',
                                    pwd1:'',
                                    pwd2:'',
                                    bottomTip:'',
                                    flag:true,
                                    {#pwd1_tip:'请输入6~16位的数字或非空字符哟！',#}
                                    {#pwd2_tip:'请保证两次输入的密码完全一致哟！',#}
                                },
                                methods:{

                                    reload_picode: function(){
                                        this.imgsrc = this.imgsrc + Math.ceil(10)
                                    },
                                    send_msgcode: function () {
                                    if (this.send_msgcode_check()) {
                                        this.$http.post('/account/sendmsgcode/', { 'phone_number': this.phone_number, 'picode': this.picode }, { emulateJSON: true }).then(result => {
                                            this.tip = result.body.tip;
                                            })
                                        }
                                    },
                                    send_msgcode_check:()=>{
                                        if(Boolean(/^\w{4}$/.test(this.msgcode)&&/^1[34578]\d{9}$|^09\d{8}$/.test(this.phone_number))){return true;}
                                        return false;
                                    },
                                    showTip:function(){
                                         if (Boolean(this.phone_number && !(/^1[34578]\d{9}$|^09\d{8}$/.test(this.phone_number)))) {
                                            this.bottomTip='亲亲请输入有效的手机号哟！';this.flag=false;return;
                                        }else {this.bottomTip='';this.flag=true;}

                                        if (Boolean(this.picode && !/^\S{4}$/.test(this.picode)) ){
                                            this.bottomTip='亲亲请输入有效的四位图象验证码哟！';this.flag=false;return;
                                        }else {this.bottomTip='';this.flag=true;}
                                        if(Boolean(this.msgcode&&!/^\w{4}$/.test(this.msgcode))){this.bottomTip='亲亲请输入有效的四位短信验证码哟！';this.flag=false; }else {this.bottomTip='';this.flag=true;}
                                        if (Boolean(this.pwd1&&(this.pwd1 !== this.pwd2 ||!(/^\S{6,16}$/.test(this.pwd1))))){
                                            this.bottomTip='亲亲请输入6到16位密码及重复密码哟！';this.flag=false;return;
                                        }else {this.bottomTip='';this.flag=true;}
                                        if(Boolean(/^\w{4}$/.test(this.msgcode)&&/^\S{4}$/.test(this.picode)&&/^1[34578]\d{9}$|^09\d{8}$/.test(this.phone_number)&&/^\S{6,16}$/.test(this.pwd1)&&this.pwd1===this.pwd2)){
                                            this.bottomTip='';this.flag=true;
                                        }
                                    },
                                    finalCheck:function(){
                                        if(Boolean(!(this.msgcode&&this.picode&&this.phone_number&&this.pwd1))){
                                            this.bottomTip='亲亲请完善以上信息哦~';this.flag=false;return;
                                        }else {this.bottomTip='';this.flag=true;}
                                    },
                                    submit:function(){
                                        if(this.flag===true){
                                            {#如果flag===true，也就是用户输入的各项都没问题了，就开始ajax#}
                                            this.$http.post('account/reset_password/',{phone_number: this.phone_number,password:this.pwd1},{emulateJSON:true}).then(result=>{
                                                if (result.body.status == 302){
                                                    this.location.href = result.body.url;
                                                {#  如果注册成功就跳转到登陆页面  #}
                                                }else if(result.body.status == 400)
                                                    {this.bottomTip=result.body.tip}
                                            })
                                        }
                                    }
                                },
                            })

                        </script>
</body>

</html>