<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>注册</title>
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
        }

        .form-control:focus {
            box-shadow: 0px 0px 0px;
        }

        .form-control {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            padding: 0px;
        }
    </style>
</head>

<body
    style="background: url(/static/svg/leftUp.svg) left top no-repeat fixed, url(/static/svg/rightDown.svg) 150% -200% no-repeat fixed, url(/static/svg/rightUp.svg) right top no-repeat fixed; background-size: 800px">
    <div class="container" style="height: 100%">
        <div class="row no-gutters" style="height: 100%">
            <div style="height: auto; display: inline-block; z-index: -1; background: #448AFF;" class="col-4 offset-1">
                <div style="height: 100%; background: url(/static/svg/middle.svg); opacity:0.4"></div>
            </div>

            <div class="align-self-center col-5" style="margin-left: -12.5%;">
                <div class="text-right clearfix">
                    <div class="text-uppercase font-weight-light" style="color: #536DFE; font-size: 48px">sign&nbsp;up
                    </div>
                    <div style="font-size: 22px; color: #333333">注册您的云顶账号
                    </div>
                    <hr noshade=true style="width: 17%; height: 1px; background-color: #536DFE; float: right;">
                </div>
                <div class="row justify-content-center no-gutters shadow p-0 mb-5 bg-white rounded" id="mainFunc">
                    <div class="col-10" style="margin-top: 10%; margin-bottom: 10%">
                        <form action="" method="POST" class="clearfix">
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入您的手机号</label>
                            <input v-model="phone_number" type="text" class="form-control" placeholder="请输入您的手机号">
                            <div>
                                <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入图形验证码</label>
                                <input v-model="picode" type="text" class="form-control" placeholder="请输入图形验证码">
                                <img @click="reload_picode" :src="imgsrc"
                                    style="float: right; transform: translateY(-100%); height: 37.84px; width: 90px; border-radius: 0.25rem">
                            </div>
                            <div>
                                <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入您的短信验证码</label>
                                <input v-model="msgcode" type="text" class="form-control" placeholder="请输入您的短信验证码">
                                <button @click="send_msgcode" class="btn btn-primary" type="button"
                                    style="float: right; transform: translateY(-100%); width: 90px">
                                    <span>点击获取</span>
                                </button>
                            </div>
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请输入您的密码</label>
                            <input v-model="password" type="password" class="form-control" placeholder="请输入您的密码">
                            <label style="font-size: 14px; margin: 0.5rem 0rem 0.5rem 0rem">请再次输入您的密码</label>
                            <input v-model="re_password" type="password" class="form-control" placeholder="请再次输入您的密码">
                            {% csrf_token %}
                        </form>
                        <div class="tip" style="height: 14px; margin-top: 0.5rem; font-size: 14px; color: #E86263">[[ tip ]]</div>
                        <input @click="submit" type="button" class="btn btn-primary col-6 offset-6" value="注册"
                            style="float: right; font-size: 18px; margin-top: 10%">
                    </div>
                    <div class="text-center col-12 align-self-end rounded-bottom align-middle"
                        style="height: 50px; background-color: rgba(130, 178, 255, 0.2); font-size: 16px">
                        <div style="position: relative; top: 50%; transform: translateY(-50%); color: #999999">已有账号？<a
                                href="/account/login">点击登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/bootstrap/jquery.min.js"></script>
        <script src="/static/js/bootstrap/popper.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/static/js/vue/vue.js"></script>
        <script src="/static/js/vue/vue-resource.min.js"></script>

        <script>
            Vue.http.headers.common['X-CSRFToken'] = $("input[name='csrfmiddlewaretoken']").val()
            var app = new Vue({
                delimiters: ['[[', ']]'],
                el: '#mainFunc',
                data: {
                    tip: "",
                    phone_number: "",
                    password: "",
                    msgcode: "",
                    picode: "",
                    re_password: "",
                    imgsrc: "/file/picode/"
                },
                methods: {
                    submit: function () {
                        if (this.submit_check()) {
                            this.$http.post('/account/register/', { 'phone_number': this.phone_number, 'password': this.password, 'msgcode': this.msgcode }, { emulateJSON: true }).then(result => {
                                if (result.body.status == 302) {
                                    window.location.href = result.body.url;
                                }
                                else {
                                    this.tip = result.body.tip;
                                }
                            })
                        }
                    },
                    send_msgcode: function () {
                        if (this.send_msgcode_check()) {
                            this.$http.post('/account/sendmsgcode/', { 'phone_number': this.phone_number, 'picode': this.picode }, { emulateJSON: true }).then(result => {
                                this.tip = result.body.tip;
                            })
                        }
                    },
                    submit_check: function () {
                        if (this.phone_number.length < 11) {
                            this.tip = "手机号码不正确";
                            return false;
                        }
                        if (this.re_password != this.password) {
                            this.tip = "两次输入的密码不一致";
                            return false;
                        }
                        if (this.password.length < 6) {
                            this.tip = "密码过短，需要6位以上";
                            return false;
                        }
                        if (this.msgcode.length < 1) {
                            this.tip = "需要输入短信验证码";
                            return false;
                        }
                        if (this.msgcode.length != 4) {
                            this.tip = "短信验证码不正确";
                            return false;
                        }
                        return true;
                    },
                    send_msgcode_check: function () {
                        if (this.phone_number.length < 11) {
                            this.tip = "手机号码不正确";
                            return false;
                        }
                        if (this.picode.length < 1) {
                            this.tip = "需要输入图片验证码";
                            return false;
                        }
                        if (this.picode.length != 4) {
                            this.tip = "图片验证码不正确";
                            return false;
                        }
                        return true;
                    },
                    reload_picode: function(){
                        this.imgsrc = this.imgsrc + Math.ceil(10)
                    }
                },
            })
        </script>
</body>

</html>