<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>个人资料</title>
    <style>
        li {
            line-height: 3rem;
            vertical-align: middle;
        }

        .table td,
        .table th {
            border-top: 0px;
            vertical-align: middle;
        }

        .card {
            margin: 1.2rem 0rem;
            border-radius: 0px;
            border-bottom: 0px;
            border-right: 0px;
            border-top: 0px;
        }

        input[readonly]:focus {
            border: 0px solid !important;
            border-bottom: 1px rgba(255, 255, 255, 0) solid !important;
            outline: 0px;
        }

        input[readonly] {
            border: 0px solid !important;
            border-bottom: 1px rgba(255, 255, 255, 0) solid !important;
        }

        textarea[readonly] {
            border: 1px rgba(255, 255, 255, 0) solid !important;
        }

        textarea[readonly]:focus {
            border: 1px rgba(255, 255, 255, 0) solid !important;
            outline: 0px;
        }

        input {
            border-bottom: 1px #ced4da solid;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        input:focus {
            border-bottom: 1px #80bdff solid;
            outline: 0px;
        }

        textarea {
            border: 1px #ced4da solid;
            width: 100%;
        }

        textarea:focus {
            border: 1px #80bdff solid;
            outline: 0px;
        }

        .task-card:hover .content {
            left: 40% !important;
        }

        .task-card:hover .detail {
            left: 80% !important;
            display: block !important;
        }

        .edit-icon:hover {
            opacity: 1 !important;
        }

        .modal.fade .modal-dialog {
            transform: translate3d(100%, 0, 0);
        }

        .modal.show .modal-dialog {
            transform: translate3d(0, 0, 0);
        }

        .toast {
            padding: 0px 10%;
        }
    </style>
</head>

<body style="background-color: #F7F8FA;">
    <div class="modal fade" id="mymodal">
        <div class="modal-dialog" style="margin: 0px; position: absolute; left: 75%; height: 100%; width: 25%;">
            <div class="modal-content"
                style="border-radius: 0px; border: 0px; height: 100%; background-color: rgba(255, 255, 255, 0.7)">
                <div class="modal-body" style="padding: 0px">
                    <div>
                        <div class="clearfix" style="width: 80%; margin-left: 10%; margin-top: 5%">
                            <div style="float: left; transform: translateY(16%); text-align: center">
                                <div style="color: #333333; font-size: 26px">快乐的萝卜</div>
                                <a style="color: #F44336; font-size: 18px" href="">退出登录</a>
                            </div>
                            <div class="float-right" style="width: 30%">
                                <img class="rounded-circle" src="/static/pic/avatar.jpeg" width="100%">
                            </div>
                        </div>
                        <div style="width: 100%; margin-top: 5%">
                            <div class="toast fade" data-autohide="false" role="alert" aria-live="assertive"
                                aria-atomic="true"
                                style="box-shadow: 0px 0px 0px; border-top: 0px; border-left: 0px; border-right: 0px">
                                <div class="toast-header"
                                    style="border-bottom: 0px; padding: 0.75rem 0rem 0.75rem 0rem">
                                    <strong class="mr-auto">已被设置为组长</strong> <small class="text-muted">11 mins
                                        ago</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                        aria-label="Close">
                                        <span aria-hidden="true">×</span> </button>
                                </div>
                                <div class="toast-body" style="padding: 0rem 0rem 0.75rem 0rem">
                                    您好! 您已被设置为任务管理系统项目组组长。
                                </div>
                            </div>
                            <div class="toast fade" data-autohide="false" role="alert" aria-live="assertive"
                                aria-atomic="true"
                                style="box-shadow: 0px 0px 0px; border-top: 0px; border-left: 0px; border-right: 0px">
                                <div class="toast-header"
                                    style="border-bottom: 0px; padding: 0.75rem 0rem 0.75rem 0rem">
                                    <strong class="mr-auto">已被设置为组长</strong>
                                    <small class="text-muted">11 mins ago</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                        aria-label="Close">
                                        <span aria-hidden="true">×</span> </button>
                                </div>
                                <div class="toast-body" style="padding: 0rem 0rem 0.75rem 0rem">
                                    您好! 您已被设置为任务管理系统项目组组长。
                                </div>
                            </div>
                        </div>
                        <a href=""
                            style="position: fixed; top: 95%; color: #666666; font-size: 18px; text-align: center; width: 100%">进入消息中心</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="height: 100%;" id="mainFunc">
        {% csrf_token %}
        <div class="row">
            <div class="col-10 offset-1">
                <div class="card" style="border-left: 0.25rem solid #448AFF;">
                    <div class="clearfix" style="width: 100%">
                        <div style="float: right; height: 6rem; width: 22rem">
                            <div class="text-uppercase lead font-weight-bold"
                                style="font-size: 4rem; color: rgba(41, 98, 255, 0.05); z-index: -1">
                                about&nbsp;me</div>
                            <div
                                style="font-size: 2rem; color: #999999; position: relative; top: -65%; left: 8%; z-index: 1;">
                                基本资料
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-2 offset-1" style="text-align: center">
                            <img :src="avatarsrc" class="rounded-circle" style="width: 7.5rem">
                            <div style="font-size: 1.8rem; margin: 1.5rem 0rem 3.0rem 0rem">[[name]]</div>
                        </div>
                        <div class="col-3 offset-1">
                            <ul class="list-unstyled" style="font-size: 1.5rem">
                                <li>[[phone_number]]</li>
                                <li>[[sex | sexFormat]]</li>
                                <li>[[birthday]]</li>
                                <li>[[student_id]]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card" style="border-left: 0.25rem solid #448AFF;">
                    <div class="clearfix" style="width: 100%">
                        <div style="float: right; height: 6rem; width: 22rem">
                            <div class="text-uppercase lead font-weight-bold"
                                style="font-size: 4rem; color: rgba(41, 98, 255, 0.05); z-index: -1">
                                about&nbsp;me</div>
                            <div
                                style="font-size: 2rem; color: #999999; position: relative; top: -65%; left: 8%; z-index: 1;">
                                详细资料
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <table class="table col-10 offset-1" style="margin-bottom: 3rem">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width: 20%">邮箱</th>
                                    <td><input v-model="email" :readonly="edit_status? false : 'readonly'"
                                            value="ssdyny@foxmail.com">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">方向</th>
                                    <td class="text-capitalize"><input readonly :value="major | majorFormat"></td>
                                </tr>
                                <tr>
                                    <th scope="row">年级</th>
                                    <td><input readonly :value="grade"></td>
                                </tr>
                                <tr>
                                    <th scope="row">宿舍</th>
                                    <td><input v-model="room" :readonly="edit_status? false : 'readonly'" value="2#227">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">家庭住址</th>
                                    <td><input v-model="home_address" :readonly="edit_status? false : 'readonly'"
                                            value="山西省 晋中市 榆次区 乌金山镇 太原理工大学"></td>
                                </tr>
                                <tr>
                                    <th scope="row">监护人电话</th>
                                    <td><input v-model="guardian_phone" :readonly="edit_status? false : 'readonly'"
                                            value="15698311360"></td>
                                </tr>
                                <tr>
                                    <th scope="row">个人介绍</th>
                                    <td>
                                        <textarea @change="auto_height" v-model="introduction"
                                            :readonly="edit_status? false : 'readonly'" rows="1"
                                            id="textarea"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button @click="edit_info" class="edit-icon btn btn-primary" type="button"
                            style="font-size: 0.9rem; padding: 0px; opacity: 0.3; width: 3rem; height: 1.5rem; position: absolute; left: 93%; bottom: 3%;">
                            [[ edit_or_save ]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/bootstrap/jquery.min.js"></script>
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <script src="/static/js/vue/vue-resource.min.js"></script>

    <script>
        Vue.filter('majorFormat', function(major){
            if (major == "P"){
                return "Python"
            }
            else if(major == 'F'){
                return "前端"
            }
            else if(major == 'N'){
                return "Node.js"
            }
            else if(major == 'M'){
                return "机电创新团队"
            }
            else if(major == 'J'){
                return "Java"
            }
            else if(major == 'D'){
                return "设计"
            }
        })
        Vue.filter('sexFormat', function(sex){
            if (sex == 'f'){
                return "女"
            }
            else if(sex == 'm'){
                return "男"
            }
        })
        Vue.http.headers.common['X-CSRFToken'] = $("input[name='csrfmiddlewaretoken']").val()
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#mainFunc',
            data: {
                edit_status: {{ edit_status }},
                edit_or_save: "{{ edit_or_save }}",
                email: "{{ email }}",
                room: "{{ room }}",
                home_address: "{{ home_address }}",
                guardian_phone: "{{ guardian_phone }}",
                introduction: "{{ introduction }}",
                major: "{{ major }}",
                grade: "{{ grade }}",
                avatarsrc: "/static/avatar/{{ user_id }}.jpg",
                phone_number: "{{phone_number}}",
                sex: "{{sex}}",
                birthday: "{{birthday}}",
                student_id: "{{student_id}}",
                name: "{{name}}"
            },
            methods: {
                show_right_bar: function () {
                    $('.toast').toast('show');
                    $("#mymodal").modal("toggle");
                },
                auto_height: function () {
                    var textarea = document.getElementById("textarea")
                    textarea.style.height = 'auto';
                    textarea.style.height = textarea.scrollHeight + 5 + "px";
                },
                edit_info: function () {
                    if (this.edit_status) {
                        this.$http.post("/account/change_information/", { "email": this.email, "room": this.room, "home_address": this.home_address, "guardian_phone": this.guardian_phone, "introduction": this.introduction }, { emulateJSON: true }).then(result => {
                            if (result.body.status == 200) {
                                this.edit_status = false;
                                this.edit_or_save = "编辑";
                            }
                            else {
                                this.tip = result.body.tip;
                            }
                        })
                        return;
                    }
                    this.edit_status = true;
                    this.edit_or_save = "保存";
                }
            }
        })
    </script>
</body>

</html>