<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="work">
        <div class="center">
            <div class="get_password">
                <div id="title">重置密码</div>
                <form id="form" autocomplete="off" method="post" action="/account/get_password/">
                    {%csrf_token%}
                    {{  form  }}
                    <div id="tip">{{  tip  }}</div>
                    <button>重置</button>
                </form>
                <li>已有账号? 去<a class="zhuce" href="../login/">登录</a></li>
            </div>
        </div>
    </div>
</body>

</html>