<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发送器</title>
</head>

<body>
    <div>personal_comments</div>
    <form action="/publisher/personal_comments/task_id/user_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
    <div>personal_shedule</div>
    <form action="/publisher/personal_shedule/task_id/user_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
    <div>personal_process</div>
    <form action="/publisher/personal_process/task_id/user_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
    <div>task_comments</div>
    <form action="/publisher/task_comment/task_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
    <div>task_shedule</div>
    <form action="/publisher/task_shedule/task_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
    <div>task_process</div>
    <form action="/publisher/task_process/task_id/" method="POST">
        <p><input type="text" name="content"></p>
        <select name="action" required>
            <option value="create">create</option>
            <option value="upgrade">upgrade</option>
        </select>
        {% csrf_token %} 
        <button type="submit">提交</button>
    </form>
</body>

</html>