<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <title>当前消息</title>
</head>

<body>
    <div class="container" style="height: 100%;margin-top: 6rem">
        <div class="card" style="border-top: 0.25rem solid #448AFF; margin-bottom: 1.5rem">
            <div class="clearfix" style="width: 100%">
                <div class="row">
                    <div class="col-4" style="margin-bottom: 1rem;margin-top: auto;text-align: center">
                        <div><input style="border-radius: 20px;border-color: teal;outline-color: transparent"></div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4" style="float: right; height: 6rem; width: 22rem">
                        <div class="text-uppercase lead font-weight-bold"
                            style="font-size: 4rem; color: rgba(41, 98, 255, 0.05); z-index: -1">
                            messages
                        </div>
                        <div
                            style="font-size: 2rem; color: #999999; position: relative; top: -65%; left: 8%; z-index: 1;">
                            你的消息
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 1.5rem">
                    <ul class="nav nav-pills mb-3 justify-content-center col-10 " id="pills-tab" role="tablist">
                        <li class="col-1"></li>
                        <li class="nav-item col-3">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true"
                                style="text-align: center">全部</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false"
                                style="text-align: center">通知</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                role="tab" aria-controls="pills-contact" aria-selected="false"
                                style="text-align: center">审核消息</a>
                        </li>
                        <li class="col-2"></li>

                    </ul>
                    <div class="col-2">
                        <a href="#">
                            <h3>编辑</h3>
                        </a>
                    </div>

                    <div class="tab-content col-10 offset-1 ju" id="pills-tabContent" style="padding: 0">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="container" style="padding: 0">
                                <div class="card mb-3" style="">
                                    <div class="row no-gutters">
                                        <div class="col-md-2" style="text-align: center">
                                            <img src="img/user1.jpeg" class="card-img"
                                                style="border-radius: 100%;height: 75px;width: 75px">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8" style="padding: 0">任务管理系统项目组<span
                                                            class="badge badge-pill badge-primary">New</span></div>
                                                    <div class="col-2">2019-4-20</div>
                                                    <div class="col-2">13:35</div>
                                                    <small>社区版的pycharm支持django框架</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3" style="">
                                    <div class="row no-gutters">
                                        <div class="col-md-2" style="text-align: center">
                                            <img src="img/user1.jpeg" class="card-img"
                                                style="border-radius: 100%;height: 75px;width: 75px">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8" style="padding: 0">任务管理系统项目组
                                                        <span class="badge badge-pill badge-primary">New</span></div>
                                                    <div class="col-2">2019-4-20</div>
                                                    <div class="col-2">13:35</div>
                                                    <small>社区版的pycharm支持django框架</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="background-color: #007bff" />
                                <div class="card mb-3" style="">
                                    <div class="row no-gutters">
                                        <div class="col-md-2" style="text-align: center">
                                            <img src="img/user1.jpeg" class="card-img"
                                                style="border-radius: 100%;height: 75px;width: 75px">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                    <div class="col-2">2019-4-20</div>
                                                    <div class="col-2">13:35</div>
                                                    <small>社区版的pycharm支持django框架</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3" style="">
                                    <div class="row no-gutters">
                                        <div class="col-md-2" style="text-align: center">
                                            <img src="img/user1.jpeg" class="card-img"
                                                style="border-radius: 100%;height: 75px;width: 75px">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                    <div class="col-2">2019-4-20</div>
                                                    <div class="col-2">13:35</div>
                                                    <small>社区版的pycharm支持django框架</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3" style="">
                                    <div class="row no-gutters">
                                        <div class="col-md-2" style="text-align: center">
                                            <img src="img/user1.jpeg" class="card-img"
                                                style="border-radius: 100%;height: 75px;width: 75px">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                    <div class="col-2">2019-4-20</div>
                                                    <div class="col-2">13:35</div>
                                                    <small>社区版的pycharm支持django框架</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="card mb-3" style="">
                                <div class="row no-gutters">
                                    <div class="col-md-2" style="text-align: center">
                                        <img src="img/user1.jpeg" class="card-img"
                                            style="border-radius: 100%;height: 75px;width: 75px">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8" style="padding: 0">任务管理系统项目组</div>
                                                <div class="col-2">2019-4-20</div>
                                                <div class="col-2">13:35</div>
                                                <small>社区版的pycharm支持django框架</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/bootstrap/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>